@model IEnumerable<RedditService_Data.Comment>

@if (Model.Any())
{
    <h5>Comments:</h5>
    <ul class="list-group">




        @{
            var authCookie = Request.Cookies[System.Web.Security.FormsAuthentication.FormsCookieName];
            string userName = null;
            if (authCookie != null)
            {
                var authTicket = System.Web.Security.FormsAuthentication.Decrypt(authCookie.Value);
                userName = authTicket?.Name;
            }
        }

        @{ var _repository = new RedditService_Data.RedditDataRepository(); }


        @foreach (var comment in Model)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>

                        @{ var fullUser = _repository.GetUserByEmail(comment.UserId); }

                        <img src="@fullUser.ProfilePictureUrl" alt="User Image" style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;" class="mr-2" />
                        <span class="text-muted">Created by: @comment.UserId</span>
                        <p>@comment.Content</p>
                    </div>
                    <div class="text-right d-flex align-items-center">
                        <span class="mr-2">
                            <i class="fas fa-thumbs-up" style="color: green;"></i> @comment.Upvotes
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-thumbs-down" style="color: red;"></i> @comment.Downvotes
                        </span>
                        <div class="d-flex align-items-center">

                            @{
                                bool hasVoted = false;
                                if (userName != null)
                                {
                                    hasVoted = _repository.HasUserVotedComment(userName, comment.RowKey);
                                }
                            }

                            @if (!string.IsNullOrEmpty(ViewBag.UserName) && ViewBag.UserName != comment.UserId && !hasVoted)
                            {
                                <form action="@Url.Action("UpvoteComment", "Comment")" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@comment.RowKey" />
                                    <button type="submit" class="btn btn-outline-success btn-sm mr-2">Like</button>
                                </form>
                                <form action="@Url.Action("DownvoteComment", "Comment")" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@comment.RowKey" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Dislike</button>
                                </form>
                            }
                        </div>
                        <div class="d-flex align-items-center">
                            @if (!string.IsNullOrEmpty(ViewBag.UserName) && ViewBag.UserName == comment.UserId)
                            {
                                <form action="@Url.Action("DeleteComment", "Comment")" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@comment.RowKey" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>

                                <a href="@Url.Action("EditComment", "Comment", new { id = comment.RowKey })" class="btn btn-primary btn-sm mr-2" style="margin: 0px;">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}