@model RedditService_Data.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBox("Email", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.Password("Password", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}

@if (ViewData.ModelState.Count > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<div class="form-group">
    @Html.ActionLink("Register User", "ShowRegister", "Register")
</div>
